{% extends 'layout.html' %}

{% block content %}
<h2>Новости Туркменского района на данный момент:</h2>

<div class='row'>
    {% for i in news %}
        <div class="col-12" style="padding-top: 20px">
            <strong> {{ i[1] }}</strong>
            <p> {{ i[2] }}</p>
            <p style="font-size: smaller">{{ i[0] }}</p>
        </div>
    {% endfor %}
</div>
<hr>
<div class="row">
    {% for i in user_news %}
        <div class="col-12" style="padding-top: 20px">
            <strong> {{ i.header }}</strong>
            <p> {{ i.body }}</p>
            <p style="font-size: smaller">{{ i.date }}</p>
    {% endfor %}
</div>


{% endblock %}